---
---

<span>
  <slot />
</span>

<style scoped>
  span {
    display: inline-flex;
    align-items: center;
    padding: 2px 8px;
    font-size: 14px;
    background-color: #8aa6a3;
    color: #fff;
  }
</style>
