---
interface Props {
  tag: string;
}

const { tag } = Astro.props;
const tagUrl = `/tag/${tag}`;
---

<a class="tag" href={tagUrl}>
  <slot />
</a>

<style scoped>
  .tag {
    display: inline-flex;
    align-items: center;
    padding: 2px 8px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    background-color: #8aa6a3;
    color: #fff;
  }

  .tag:not(:last-of-type) {
    margin-right: 8px;
  }
</style>
