---
import PostItem from "@Components/element/PostItem.astro";
import Html from "@Components/layout/Html.astro";
import { ALL_SORTED_POSTS, groupPostByYear } from "@Tools/post";

const groupByYearPosts = groupPostByYear(ALL_SORTED_POSTS);
const sortYears = Object.keys(groupByYearPosts).sort(
  (a, b) => Number(b) - Number(a),
);
---

<Html>
  {
    sortYears.map((year, i) => (
      <section>
        <h2>
          {year}（計{groupByYearPosts[year].length}篇）
        </h2>
        <ul class="flex flex-col gap-8">
          {groupByYearPosts[year].map((post) => (
            <PostItem post={post} />
          ))}
        </ul>
      </section>
    ))
  }
</Html>
