---
import Html from '@Components/Html.astro';
import { sortPostByDate } from '@Tools/post';
import type { Post } from '@Models/GeneralTypes';

const allPosts = await Astro.glob<Post>('../posts/**/*.md');
const sortedPosts = sortPostByDate(allPosts);
---

<Html title="普通文組 2.0" description="tzyn blog v2 index">
  <h1>普通文組 2.0</h1>
  {
    sortedPosts.map((post) => (
      <li class="post-wrapper">
        <a href={post.url}>{post.frontmatter.title}</a>
        <div>{post.frontmatter.date}</div>
        <ul class="tag-container">
          {post.frontmatter.tag.map((tag) => (
            <li class="tag">{tag}</li>
          ))}
        </ul>
      </li>
    ))
  }
</Html>

<style>
  .post-wrapper {
    container-type: inline-size;
  }

  .tag-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .tag {
    list-style-type: none;
  }

  @container (min-width: 480px) {
    .tag-container {
      gap: 16px;
    }
  }
</style>
