---
import Html from "@Components/layout/Html.astro";
import PostItem from "@Components/element/PostItem.astro";
import { ALL_SORTED_POSTS, groupPostByYear } from "@Tools/post";

const groupByYearPosts = groupPostByYear(ALL_SORTED_POSTS);
const sortYears = Object.keys(groupByYearPosts).sort(
  (a, b) => Number(b) - Number(a),
);
---

<Html>
  {
    sortYears.map((year, i) => (
      <>
        <div class="year-container">
          <h2>
            {year}（計{groupByYearPosts[year].length}篇）
          </h2>
          <ul class="post-container">
            {groupByYearPosts[year].map((post) => (
              <PostItem post={post} />
            ))}
          </ul>
        </div>
        {i !== sortYears.length - 1 && <hr class="divider" />}
      </>
    ))
  }
</Html>

<style scoped>
  .year-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .year-container h2 {
    margin: 0;
  }

  .post-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .divider {
    width: calc(100% - 16px);
    margin-right: auto;
  }
</style>
