@import "tailwindcss";

/* ref. https://giscus.app/ */
.giscus {
  margin-block-start: calc(var(--spacing) * 8);
}

/* ref. https://docs.astro.build/en/guides/syntax-highlighting/ */
@media (prefers-color-scheme: dark) {
  .astro-code {
    padding: calc(var(--spacing) * 2);
  }
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }
}
