* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: sans-serif;
  text-wrap: pretty;
  color: rgba(0, 0, 0, 0.9);
  @media (prefers-color-scheme: dark) {
    color: rgba(255, 255, 255, 0.9);
  }
}

html {
  background-color: rgb(191, 191, 191, 0.4);
  @media (prefers-color-scheme: dark) {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

a {
  color: #127369;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.2s ease-in-out;
  @media (prefers-color-scheme: dark) {
    color: oklch(from #127369 calc(l + 0.2) c h);
  }
}

a:hover {
  text-decoration-color: #127369;
  @media (prefers-color-scheme: dark) {
    text-decoration-color: oklch(from #127369 calc(l + 0.2) c h);
  }
}

a.link-out {
  position: absolute;
  inset: 0;
}

ul,
li {
  list-style-position: inside;
}

ul:not(:has(li)) {
  margin-top: 16px;
  margin-bottom: 16px;
}

li {
  margin-top: 4px;
  margin-bottom: 4px;
  line-height: 24px;
}

li li {
  padding-left: 16px;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2 {
  font-size: 28px;
  line-height: 42px;
  margin: 16px 0;
  color: #4c5958;
  @media (prefers-color-scheme: dark) {
    color: oklch(from #4c5958 calc(l + 0.1) calc(c + 0.1) h);
  }
}

h3,
h4 {
  font-size: 22px;
  line-height: 34px;
  margin: 16px 0;
  color: #4c5958;
  @media (prefers-color-scheme: dark) {
    color: oklch(from #4c5958 calc(l + 0.1) calc(c + 0.1) h);
  }
}

h5 {
  font-size: 18px;
  line-height: 28px;
  margin: 4px 0;
  color: #4c5958;
  @media (prefers-color-scheme: dark) {
    color: oklch(from #4c5958 calc(l + 0.1) calc(c + 0.1) h);
  }
}

p {
  font-size: 16px;
  line-height: 24px;
  margin: 16px 0;
}

p code {
  font-size: 14px;
}

blockquote {
  padding-left: 16px;
  border-left: 4px solid #4c5958;
  @media (prefers-color-scheme: dark) {
    border-left-color: oklch(from #4c5958 calc(l + 0.4) c h);
  }
}

blockquote * {
  /* 引用的內容多半是英文，故使用 Noto Sans 避免 ' 這類符號變成全形 */
  font-family: "Noto Sans", sans-serif;
}

pre {
  padding: 8px 16px;
}

code,
code span {
  font-family: monospace;
}

hr {
  width: 100%;
  height: 1px;
  margin: 16px 0;
  background-color: #4c5958;
  @media (prefers-color-scheme: dark) {
    background-color: oklch(from #4c5958 calc(l + 0.4) c h);
  }
}

del {
  /* 90% opacity */
  color: #4c5958e6;
  @media (prefers-color-scheme: dark) {
    color: oklch(from #4c5958 calc(l + 0.4) c h / 0.9);
  }
}

ol > li:has(p) > p {
  /* 處理位於「註解」內的 p 樣式 */
  display: inline;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 16px 0;
}

table,
th,
td {
  border: 1px solid #4c5958;
  @media (prefers-color-scheme: dark) {
    border-color: oklch(from #4c5958 calc(l + 0.4) c h);
  }
}

@media (prefers-color-scheme: dark) {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }
}
