---
import Html from '@Components/layout/Html.astro';
import Container from '@Components/layout/Container.astro';
import ContainerNavLink from '@Components/layout/ContainerNavLink.astro';
import Tag from '@Components/element/Tag.astro';
import { dateFormatter } from '@Tools/formatter';
import type { Post, Heading } from '@Models/GeneralTypes';

interface Props {
  frontmatter: Post;
  headings: Heading[];
}

const { frontmatter, headings } = Astro.props;
---

<Html title={frontmatter.title} description={frontmatter.summary || ''}>
  <Container>
    <ContainerNavLink>
      <a href="/">回首頁</a>
      <a href="/archive">回全文章歸檔</a>
    </ContainerNavLink>
  </Container>
  <Container>
    <h1>{frontmatter.title}</h1>
    <span>{dateFormatter(frontmatter.date)}</span>
    <div>{frontmatter.tag.map((tag) => <Tag>{tag}</Tag>)}</div>
    <slot />
  </Container>
</Html>
