---
---

<div class="container">
  <slot />
</div>

<style>
  .container {
    margin: 16px auto;
    padding: 0 24px;
  }

  @media screen and (min-width: 600px) {
    .container {
      padding: 0 48px;
    }
  }

  @media screen and (min-width: 900px) {
    .container {
      max-width: 720px;
      margin: 24px auto;
    }
  }
</style>
