---
import Footer from "@Components/element/Footer.astro";
---

<section class="m-6 sm:mx-auto sm:max-w-[60ch]">
  <h1>普通文組 2.2</h1>
  <nav class="flex items-center gap-4">
    <a href="/" class="text-teal-800 dark:text-teal-300">首頁</a>
    <a href="/archive" class="text-teal-800 dark:text-teal-300">全文章歸檔</a>
    <a href="/tag" class="text-teal-800 dark:text-teal-300">以標籤檢視</a>
    <a href="/rss.xml" class="text-teal-800 dark:text-teal-300">RSS</a>
  </nav>
</section>
<main class="m-6 sm:mx-auto sm:max-w-[60ch]">
  <slot />
  <Footer />
</main>
