---
import Footer from "@Components/element/Footer.astro";
---

<section class="side-content">
  <h1>普通文組 2.0</h1>
  <nav>
    <a href="/">首頁</a>
    <a href="/archive">全文章歸檔</a>
    <a href="/tag">以標籤檢視</a>
    <a href="/rss.xml">RSS</a>
  </nav>
</section>
<main class="main-content">
  <slot />
  <Footer />
</main>

<style scoped>
  .side-content,
  .main-content {
    margin: 24px;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  @media (min-width: 800px) {
    .side-content,
    .main-content {
      max-width: 60ch;
      margin-inline: auto;
    }
  }
</style>
