---
import Html from "@Components/layout/Html.astro";
---

<Html>
  <h2>404</h2>
  <img src="/fox-in-the-snow.jpg" alt="fox in the snow" />
  <p>
    普通文組在 2023/8/21 後升級到 2.0 版，部分 1.0
    時期的路由已消失。可參考以下列表：
  </p>
  <ul>
    <li>/archives 改為 /archive</li>
    <li>/categories 改為 /tag</li>
  </ul>
</Html>
