---
import FeaturedPostLayout from "@Components/layout/FeaturedPostLayout.astro";
import Html from "@Components/layout/Html.astro";
import { ALL_SORTED_POSTS } from "@Tools/post";

const firstTenPosts = ALL_SORTED_POSTS.slice(0, 10);
---

<Html>
  <div class="space-y-8">
    {firstTenPosts.map((post) => <FeaturedPostLayout post={post} />)}
  </div>
</Html>
