---
import Tag from "@Components/element/Tag.astro";
import Html from "@Components/layout/Html.astro";
import { ALL_UNIQUE_TAGS } from "@Tools/post";
---

<Html>
  <ul class="flex flex-col gap-4">
    {ALL_UNIQUE_TAGS.map((tag) => <li>{<Tag tag={tag}>{tag}</Tag>}</li>)}
  </ul>
</Html>
